.centered-block {
    padding: 3rem 1.5rem;
    text-align: center;
}

#price {
    font-size: 26px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.table td {
    white-space: nowrap;
}

#donate-btc {
    padding-right: 5px;
}
